extends layout

block content
    h1= title
    - let result=[{Stu_Name: "Satya",Stu_Age:23,Mail_Id:"satya@gmail.com"},{Stu_Name: "Narayana",Stu_Age:24,Mail_Id:"naray@gmail.com"},{Stu_Name: "Ganesh",Stu_Age:25,Mail_Id:"ganeh@gmail.com"}]
    div.container-fluid
        div.row
            each item,ind in result
                div(class='col-sm-2' onclick=`buy(${ind})`) 
                    p Name  is #{item.Stu_Name}
                    p Age  is #{item.Stu_Age}
                    p Mail_Id: #{item.Mail_Id}
    each ite,index in result
        p value at index #{index} is : #{ite.Stu_Name},#{ite.Stu_Age},#{ite.Mail_Id}
    script. 
        function buy(i){
            alert("You purchased item "+(i+1))
        }