extends layout

block content
    h1= title
    - let results=[{Stu_Name: "satya",Stu_Age:22,Mail_Id:"satya@gmail.com"},{Stu_Name: "Narayana",Stu_Age:22,Mail_Id:"nari@gmail.com"},{Stu_Name: "shivani",Stu_Age:22 ,Mail_Id:"shivk@gmail.com"}]
    div.container-fliud
        div.row
            each item,ind in results 
                div(class='col-sm-2' onclick=`buy(${ind})`) 
                    p Name  is #{item.Stu_Name}
                    p Age  is #{item.Stu_Age}
                    p Mail_Id: #{item.Mail_Id}

                    
