extends layout

block content
  h1= title
  - let items = results;
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        - let destination = `dispatch(\"/student/update?id=${item._id}\")`
        div(class="col-sm-3" class="m-3")
          h6 Student Name is:#{item.Stu_Name}
          p Student Age is:#{item.Stu_Age}
          p Student Mail Id is:#{item.Mail_Id}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path){
      console.log(path);
      window.location.href=path;
    }